<section class="foot">
    <div class="container">
        <div class="row">
            <div class="footer">
                <div class="d-flex flex-wrap py-4 footer-start d-xs-none d-sm-none d-md-flex d-lg-flex d-xl-flex">
                    <div class="col-xxl-3 col-xl-3 col-md-6">
                        <div class="footer-head b-r d-flex justify-content-md-start align-items-center">
                            <img src="/public/img/product.svg" width="40" alt="">
                            <h2>Every Fresh Products</h2>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-md-6 ">
                        <div class="footer-head b-r d-flex justify-content-xxl-center justify-content-md-start  align-items-center">
                            <img src="/public/img/delivery.svg" width="40" alt="">
                            <h2>Free Delivery For Order Over $50</h2>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-md-6 ">
                        <div class="footer-head b-r d-flex justify-content-xxl-center justify-content-md-start align-items-center">
                            <img src="/public/img/discount.svg" width="40" alt="">
                            <h2>Daily Mega Discounts</h2>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-md-6 ">
                        <div class="footer-head  d-flex justify-content-xxl-center justify-content-md-start  align-items-center">
                            <img src="/public/img/market.svg" width="40" alt="">
                            <h2>Best Price On The Market</h2>
                        </div>
                    </div>

                </div>
                <div class="footer-content d-flex flex-wrap py-5">
                    <div class="col-xxl-3 col-xl-3 col-xs-12 col-sm-6 col-lg-3">
                        <div class="footer-content-1">
                            <img src="/public/img/header.logo.png" width="160" alt="">
                            <p>We are a friendly bar serving a variety of cocktails, wines and beers. Our bar is a
                                perfect place for a couple.</p>
                            <a href="#">
                                <h3><i class="ri-home-4-line"></i>1418 Riverwood Drive, CA 96052, US</h3>
                            </a>
                            <a href="#">
                                <h3><i class="ri-mail-line"></i>support@fastkart.com</h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-xxl-2 col-xl-2 col-xs-12 col-sm-6 col-lg-3">
                        <div class="footer-content-2">
                            <h3>Categories</h3>
                            <ul>
                                <li><a href="#">Vegetables & Fruit</a></li>
                                <li><a href="#">Beverages</a></li>
                                <li><a href="#">Meats & Seafood</a></li>
                                <li><a href="#">Frozen Foods</a></li>
                                <li><a href="#">Biscuits & Snacks</a></li>
                                <li><a href="#">Grocery & Staples</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xxl-2 col-xl-2 col-xs-12 col-sm-3 col-lg-3">
                        <div class="footer-content-3">
                            <h3>Useful Links</h3>
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Shop</a></li>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xxl-2 col-xl-2 col-xs-12 col-sm-3 col-lg-3">
                        <div class="footer-content-4">
                            <h3>Help Center</h3>
                            <ul>
                                <li><a href="#">Your Order</a></li>
                                <li><a href="#">Your Account</a></li>
                                <li><a href="#">Track Order</a></li>
                                <li><a href="#">Your Wishlist</a></li>
                                <li><a href="#">Search</a></li>
                                <li><a href="#">FAQ</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-xs-12 col-sm-6 col-lg-3">
                        <div class="footer-content-5">
                            <h3>Contact Us</h3>
                            <div class="hotline d-flex align-items-center">
                                <i class="fas fa-phone"></i>
                                <div class="hotline-info">
                                    <p>Hotline 24/7 :</p>
                                    <span>+91 888 104 2340</span>
                                </div>
                            </div>
                            <div class="hotline d-flex align-items-center">
                                <i class="ri-mail-line"></i>
                                <div class="hotline-info">
                                    <p>Email Address :</p>
                                    <span>fastkart@hotmail.com</span>
                                </div>
                            </div>
                            <div class="app-download">
                                <p>Download App :</p>
                                <div class="app-img d-flex flex-wrap">
                                    <img src="/public/img/playstore.svg" class="img-fluid"  alt="">
                                    <img src="/public/img/appstore.svg" class="img-fluid"  alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="d-flex flex-wrap text-center align-items-center py-4">
                    <div class="col-xxl-3 col-xl-3 col-xs-12 col-sm-12">
                        <p>©2022 Fastkart All rights reserved</p>
                    </div>
                    <div class="col-xxl-2 col-xl-2 col-xs-12 col-sm-12"></div>
                    <div class="col-xxl-2 col-xl-2 col-xs-12 col-sm-12">
                        <img src="/public/img/footer.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-xxl-2 col-xl-2 col-xs-12 col-sm-12"></div>
                    <div class="col-xxl-3 col-xl-3 col-xs-12 col-sm-12 d-flex flex-wrap align-items-center justify-content-center">
                        <p>Stay connected : </p>
                        <a href="#"><i class="ri-facebook-fill"></i></a>
                        <a href="#"><i class="ri-twitter-fill"></i></a>
                        <a href="#"><i class="ri-instagram-line"></i></a>
                        <a href="#"><i class="ri-pinterest-line"></i></a>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</section>