<!DOCTYPE html>
<html lang="en">
<head>
    <title>OTP</title>
    <%- include('front-head.ejs') %>
</head>
<body>
    <section class="login-page">
        <div class="container">
            <div class="row">
                <div class="login-contain">
                    <div class="col-xxl-12 d-flex  align-items-center py-5" style="height: 100vh; min-height: 800px;">
                        <div class="col-xxl-6 d-flex col-lg-6 d-flex justify-content-end d-xs-none d-sm-none d-md-none d-lg-flex">
                            <img src="/public/img/otp.png" class="img-fluid" alt="">
                        </div>
                        <div class="col-xxl-6 col-xs-12 col-sm-12 col-md-12 col-lg-6 d-flex justify-content-center">
                            <div class=" col-xxl-8 d-flex justify-content-end">
                            <div class="login-container d-flex ">
                                <div class="">
                                    <h2 class="fs-5">Please enter the one time password to verify your account</h2>
                                    <!-- <span>A code has been sent to *******9897</span> -->
                                    <% if (messages.error) { %>
                                        <span class="alert ">
                                            <%= messages.error %>
                                        </span>
                                    <% } else if (messages.success) { %>
                                        <span class="alert alert-success">
                                            <%= messages.success %>
                                        </span>
                                    <% } %>
                                </div>
                                <form action="/postOtp" method="post">
                                    <div class="form-group opt d-flex justify-content-between">
                                            <input class="text-center form-control rounded" type="text" id="first" minlength="6" maxlength="6" style="letter-spacing: 15px;" placeholder="000000" required>
                                            <!-- <input class="text-center form-control rounded" type="text" id="first" maxlength="1" placeholder="0">
                                            <input class="text-center form-control rounded" type="text" id="first" maxlength="1" placeholder="0">
                                            <input class="text-center form-control rounded" type="text" id="first" maxlength="1" placeholder="0">
                                            <input class="text-center form-control rounded" type="text" id="first" maxlength="1" placeholder="0">
                                            <input class="text-center form-control rounded" type="text" id="first" maxlength="1" placeholder="0"> -->
                                    </div>
                                    <div class="form-group">
                                        Didn't get the code?<a href="">Resend It</a>
                                    </div>
                                    <a href="#">
                                        <button type="submit" class="login-btn">Forgot Password</button>
                                    </a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>